body{
    font-family: 'Roboto', sans-serif;
    background: url("/images/coins.jpg") no-repeat center center ; 
    text-align: center;
    margin: 0;
}

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #363232 url("https://media.giphy.com/media/xT39D3pHl63aiQh2De/giphy.gif") no-repeat center center;
    z-index: 9999;
}

.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: "Papyrus", fantasy;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(75, 4, 4);
    margin-left: 2%;
}

h6{
    margin-bottom: 10px;
    /* padding: 0; */
    font-family: "Times New Roman", sans-serif;
}

.bank-logo{
    padding-left: 2rem;
    height: 60px;
    width: 60x;
}

.nav-link{
    color: rgb(119, 28, 28);
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 2px;
}

.nav-link:hover{
    background-color: #f3f1f1;
}

.gif1{
    height:150px;
    width:150px;
    border-radius:100%;
}

.hero-content{
    height: 100vh;
    background-color: #001737;
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
    opacity: 95%;
}

.hero-img{
    height: 60vh;
    width: 60vh;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;
    
}

.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}

.bottom-container
{
    background-color: rgb(189, 189, 216);
    height: 100px;
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px auto 40px;
}

.footer-link
{
    color: #7b3a3a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}

.footer-link:hover
{
    color: #8b0000;
}

#linkedin-logo
{
    width: auto;
    height: 40px;
    margin: 10px auto;
}

#linkedin-logo-box
{
    display: inline-block;
    padding: 0 20px;
}

#github-logo
{
    width: auto;
    height: 38px;
    margin: 10px auto;
    
}

.copyright
{
    color: rgb(255,255,240);
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px auto 2px;
}

